.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Send Code Section */
.sendCodeOC {
  width: 350px;
  padding: 35px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.sendCodeOC h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.sendCodeOC p {
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

.sendCodeGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sendCodeGroup input {
  width: 100%;
  padding: 13px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.sendCodeGroup input:focus {
  border-color: var(--lf-brown-200);
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.25);
}

.sendCodeGroup button {
  width: 100%;
  padding: 13px;
  background-color: var( --lf-brown-800);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.sendCodeGroup button:hover {
  background-color: var( --lf-brown-600);
}


/* Change Password Section */
.changePassOC {
  width: 380px;
  padding: 35px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.changePassOC h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 25px;
}


/* Inputs */
.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputGroup label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
  font-weight: 600;
}

.inputGroup input {
  padding: 13px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  transition: 0.3s ease;
}

.inputGroup input:focus {
  border-color: var(--lf-brown-200);
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.25);
}


/* Change Password Button */
.button {
  width: 100%;
  padding: 13px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: var( --lf-brown-800);
    color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: var( --lf-brown-600);
}


/* Mobile Responsive */
@media (max-width: 480px) {

  .sendCodeOC,
  .changePassOC {
    width: 100%;
    padding: 25px;
  }

  .section {
    padding: 15px;
  }
}