.AiOC {
    position: fixed;
    right: 2rem;
    bottom: 2rem;

    width: 400px;
    height: 600px;

    padding: var(--lf-padding);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: var(--lf-brown-50);
    border: 1px solid var(--lf-border);
    border-radius: var(--lf-radius);
    box-shadow: var(--lf-shadow);

    z-index: 1000;
}